<div ng-controller="detail-ctrl">
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">商品ID</label>
      <input class="form-control" id="disabledInput" type="text" placeholder="商品id禁止修改" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">商品名称</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请填写商品名称" ng-model = "goodinfo.name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">商品价格</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请填写商品价格"  ng-model = "goodinfo.price">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">商品种类</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请填写商品种类"  ng-model = "goodinfo.category">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">商品预览</label>
      <div class = "imgshow" style = "width:80px"><img src = "http://www.heav3n.cn/img/{{goodinfo.piclists[0]}}" style = "width:100%"></div>
      <label for="exampleInputFile">更换图片</label>
      <input type="file">
      <p class="help-block">图片不得大于500KB</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> 检查无误
      </label>
    </div>
    <button ng-click = "toInfo()" class="btn btn-default">Submit</button>
  </form>   
</div>